* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 1000px;
}

div#main-menu {
    background-color: #b94c61;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

div#header {
    background-color: #3f439a;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    height: 100px;
    line-height: 100px;
}

div#container {
    height: 420px;
}

div#content {
    background-color: #67b94b;
    text-align: center;
    float: left;
    width: 70%;
    line-height: 420px;
    height: 420px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

div#side-bar {
    background-color: #4e753c;
    text-align: center;
    width: 30%;
    line-height: 420px;
    height: 420px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    float: right;

    position: fixed;
    bottom: 0; /* Fica acima do footer */
    right: 0;
    z-index: 1000;
}

div#footer {
    background-color: #a0732f;
    height: 80px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 80px;

    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
}
