* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100px;
}

#header {
    background-color: #7988dd;
    text-align: right;
    padding: 25px 150px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

#menu {
    background-color: #bc7475;
    margin-top: 100px;
    padding: 8px 100px;
}

#principal {
    height: 450px;
}

#left, #center, #right {
    float: left;
    padding-left: 20px;
    padding-top: 50px;
}

#left {
    width: 25%;
    background-color: #e8d380;
    height: 500px;
}

#center {
    background-color: #80e683;
    width: 50%;
    height: 500px;
}

#right {
    background-color: #eb8e4a;
    width: 25%;
    height: 500px;
}

#footer {
    clear: both;
    background-color: #bc79ce;
    height: 50px;
    padding: 10px 40px;
}
