body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
.header {
    background-color: #27548A;
    text-align: center;
    font-size: 1.2em;
    color: #f6fcf7;
    padding: 10px 0;
    margin-bottom: 20px;
}
.header h1,
.header h2,
.header h3,
.header p {
    margin: 2px 0; 
    padding: 0;
}

.atividade {
    background-color: #183B4E;
    color: #f6fcf7;
    font-size: 1.2em;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;
    text-align: justify;
    float: left;
    /*transition: background-color 0.3s ease;*/
}

a .atividade{
    display: block;
    padding: 10px;
    color: #f6fcf7;
}

.atividade:hover {
    background-color: #477dac;
    cursor: pointer;
}