body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family:  "Lora", serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.header {
    background-color: #c8a97e;
    text-align: center;
    font-size: 1.2em;
    color: #3b2200;
    padding: 10px 0;
    margin-bottom: 20px;
}
.header h1,
.header h2,
.header h3,
.header p {
    margin: 2px 0; 
    padding: 0;
}

.atividade {
    background-color: #441d0f;
    font-family: "Poppins", sans-serif;;
    color: #f6fcf7;
    font-size: 0.8em;
    text-align: center;
    width: 190px;
    height: 80px;
    border-radius: 10px;
    padding: 6px;
    margin: 25px;
    float: left;
}

a .atividade{
    display: block;
    padding: 10px;
    color: #f6fcf7;
}
.atividade:hover {
    background-color: #5a2f1e;
    cursor: pointer;
}
.atividade strong {
    margin-top: 10px;
    display: block;
}

.projeto {
    outline: 5px solid #c8a97e; 
    outline-offset: 5px;
}
